@import "../assets/scss/base.scss";

.dashboard-button {
    em {
        img {
            height: 200px;
        }
    }
    button {
        display: block;
        border-radius: 70px;
        padding: 0.6rem ;
        background: $secondary-color;
        color: $primary-color;
        border: none;
        font-size: 2rem;
        width: 250px;
    }
}