@import "../../../assets/scss/base.scss";

.budget-card {
    .card {
        // background: url("../../../assets/images/watermark.svg");
        // background-repeat: no-repeat;
        .icon-button {
   
            i {
                font-size: 1.5rem;
                cursor: pointer;
            }
        }
        .total-budget {
            font-size: 1.2rem;
        }
    }
}